:root {
  --primary: seagreen;
  --space: 8px;
  --border-radius: 3px;
}
body {
  height: 100vh;
  background: #f1f1f1;
  font-family: Lato;
}

.box {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pane {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.field {
  display: flex;
  padding: 10px 0px;
}